* {
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #18191a;
    margin: 0;
    padding: 0;
    text-align: center; 
}

h1 {
    text-align: center;
}

.teljes {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    justify-items: center; 
}

.gomb {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
}

.gombsarga {
    background-color: yellow;
}

.gomdzold {
    background-color: green;
}

.ujJatekBtn {
    text-align: center;
    color: black;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .teljes {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width: 325px) {
    .teljes {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
}